.timeline {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.timeline-btn-box {
    padding: 2rem;
    display: flex;
    align-items: center;
}

.timeline-content-box {
    width: 100%;
}

.btn-border {
    border: none;
    margin: 0 2rem;
    cursor: pointer;
}


/* .timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

button {
    border: none;
    cursor: pointer;
}

.timeline-btn-box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 48rem;
} */

#btn-yt {
    height: 50px;
    width: 50px;
    background: url('/images/youtube.svg');
}

#btn-st {
    height: 45px;
    width: 45px;
    background: url('https://img.icons8.com/external-tal-revivo-color-tal-revivo/45/000000/external-stack-overflow-is-a-question-and-answer-site-for-professional-logo-color-tal-revivo.png');
    background-color: white;
    background-size: cover;
}

#btn-gs {
    height: 50px;
    width: 50px;
    background: url('/images/google.svg');
    background-color: white;
    background-size: cover;
}

#btn-gh {
    height: 60px;
    width: 60px;
    background: url('/images/github.svg');
    background-color: white;
    background-size: cover;
}

.active {
    display: block;
}

.inactive {
    display: none;
}